*{
    margin: 0;
    padding: 0;
    background-color: wheat;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 135px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 120px;
}