*{
    margin: 0;
    padding: 0;
    background-color: wheat;
}

body{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 50px;
}

header{
    grid-column: 2/5;
    grid-row: 2/5;
    justify-self: center;
    align-content: center;
}

form{
    grid-column: 2/5;
    grid-row: 3/5;
    justify-self: center;
}

button{
    width: 300px;
    border: none;
    outline: none;
    display: inline-block;
    padding: 10px;
    color: #DCD7C9;
    background-color: black;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
}

button:hover{
    background-color: white;
    color: black;
}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #3F4E4F;
    color: #A27B5C;
    background: transparent;
}
